* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    margin: 0;
}

header {
    background-color: white;
    height: 80px;
}


#logo {
    height: 60px;
    vertical-align: middle;
}

.title {
    font-size: 50px;
    font-weight: bold;
    display: inline;
    vertical-align: middle;
    padding: 15px;
}

.container {
    background-color: white;
    width: 80%;
    margin: auto;
}

.content {
    margin-left: 50px;


}

.buttons {
    margin-top: 20px;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container-main {
    margin-top: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.button {
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 30px;


}

.bg-gray {
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
    margin-left: 5px;

}


ul{
    list-style: none;
    padding-inline-start: 10px;
}

li {
    font-size: 20px;
}

.check {
    font-size: 16px;
    border-radius: 50%;
    padding: 0 5px 0 5px;
    border: 1px solid green;
    color: green;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cross {
    font-size: 16px;
    border-radius: 50%;
    padding: 0 7px 0 7px;
    border: 1px solid red;
    color:red;
    margin-top: 5px;
    margin-bottom: 5px;
}

.badge {
    border-radius: 15px;
    padding: 10px 15px;
    margin-left: 5px;
}

.white-text {
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.bg-lightblue {
    background-color: rgb(47, 170, 211);
    border: 1px solid  rgb(47, 170, 211);
}

.bg-violet {
    background-color: rgb(147,112,219);
}

.bg-seagreen {
    background-color: rgb(106, 197, 145);
}

.bg-orange {
    background-color: orange;
}

.bg-pink {
    background-color: rgb(241, 117, 179);
}

.bg-limegreen {
    background-color: limegreen;
}

li {
    margin-top: 25px;
}